* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: 'Roboto' sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    position: relative;
}
.header {
    width: 100%;
    position: fixed;
    background-color: #5D5C61;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 2;
}
.nav__logo {
    display: flex;
}
.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item a::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #379683;
    transition: 0.4s;
    transform: scaleX(0);
}
.nav__item a:hover:before{
    transform: scaleX(1);
}
.burg{
    display: none;
}
.span__bar{
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
transition: 0.3s;
background-color: #101010;
}
.href {
    font-size: 1.4rem;
    font-weight: 400;
    color:  #B1A296;
    margin-right: 1.4rem;
}
.href:hover{
    color: #379683;
}
.href::last-child{
    margin-right: 0;
}
.wrapper {
    background-color: #557aa5;
}
.container {
    text-align: center;
    padding: 5px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 35px;
    justify-content: center;
    background-color: #557aa5;
}
.gallery img {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.hover-image-scale {
    display: inline-block; 
    overflow: hidden; 
}
  .hover-image-scale img {
    transition: 1.2s; 
    display: block; 
}
  .hover-image-scale img:hover {
    transform: scale(1.2); 
    z-index: -1;
}
.title {
    background-color: #557aa5;
}
.title h1 {
    padding: 15px;
    color: #B1A296;
    background: linear-gradient(180deg, #557a95, #333, #557a95);
    
}
.title h2 {
    padding: 15px;
    
    
}
.text {
    padding: 10px;
}
@media only screen and (max-width: 1218px) {
    .nav__menu{
        position: fixed;
        flex-direction: column;
        background-color: #5D5C61;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        left: -100%;
        top: 2.8rem;
    }
    .nav__menu.active {
        left: 0;
        z-index: 3;
    }
    .nav__item{
        margin: 2.5rem 0;
        z-index: 1;
    }
    .burg{
        display: block;
        cursor: pointer;
    }
    .burg.active .span__bar:nth-child(2){
        opacity: 0;
    }
    .burg.active .span__bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burg.active .span__bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}